<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jack.com.servicekeep">

    <!--开机启动监听-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--增加唤醒WorkService的定时任务-->
        <service
            android:name="jack.com.servicekeep.service.KeepAliveJobSchedulerService"
            android:persistent="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process="jack.com.servicekeep.job_scheduler_service"/>

        <!--todo 自己业务保活的Service-->
        <service
            android:name="jack.com.servicekeep.service.WorkService"
            android:exported="true"
            android:persistent="true"
            android:label="Jack"
            android:process="com.jack.workservice">
        </service>

    </application>

</manifest>