<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jack.com.servicekeep">

    <!--开机启动监听-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name="jack.com.servicekeep.service.WorkService"
            android:exported="true"
            android:persistent="true"
            android:label="Jack"
            android:process="com.jack.service">
            <intent-filter>
                <action android:name="jack.com.servicekeep.intent.action.JACK" />
            </intent-filter>
        </service>

    </application>

</manifest>